/* Background of Entire website  */
body {
    background-color: gold;
    background-size: cover;
    text-align: center; 
    height: 1024px;
    width: repeat-x;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: blue;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav .active:hover {
    background-color: gold;
    color: red;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: blue;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* for div headers */ 
div { 
    font-size: 40px;
    background-color: black;
    color: blue;
    display: block;
}
/* Responsive text: If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.h1.p {
      font-size: 40px;
    }
  }
  
  /*  Responsive text: If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.h1.p {
      font-size: 20px;
    }
}
